<table border="0" cellpadding="0" cellspacing="0"
       style="margin:0; padding:0; padding-bottom: 50px;" width="100%">
    <tr>
        <td style="text-align: center">
            <center>
                <span style="font-family: Work Sans;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #000000;
                                    ">
                Wir senden diese E-Mail, weil Sie sich auf {{config.host}} registriert haben.<br />
                Sollten Sie sich nicht registriert haben, dann ignorieren Sie bitte diese Mail.<br />
                {{#if unsubscribe}}
                Wir werden Sie auch weiterhin mit Informationen versorgen, wenn Sie dem nicht widersprechen.
                Dazu einfach <a href="{{unsubscribe}}">hier klicken</a>.
                {{/if}}
            </span>
            </center>
        </td>
    </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; height:130px;"
       width="600px" bgcolor="#F4D300">
    <tr>
        <td style="text-align: center;">
                                    <span style="font-family: Work Sans;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #000000;
                                    ">Lassen Sie uns auch hier zusammen Deutschland bewegen!</span>
        </td>
    </tr>
    <tr>
        <td>
            <center style="max-width: 600px; width: 100%;">
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; "
                       width="50%">
                    <tr style="vertical-align: top">
                        <td>
                            <a href="https://www.facebook.com/GermanZero-101124947919410/" target="_blank"
                               style="display: block;width: 30px; height: 30px;">
                                <img src="https://germanzero.de/email/img/facebook.png" alt="instagram icon"
                                     style="width: 30px; height: 30px; display: block;">
                            </a>
                        </td>
                        <td>
                            <a href="https://twitter.com/_germanzero" target="_blank"
                               style="display: block;width: 29px; height: 23px;">
                                <img src="https://germanzero.de/email/img/twitter.png" alt="instagram icon"
                                     style="width: 30px; height: 30px; display: block;">
                            </a>
                        </td>
                        <td>
                            <a href="" target="_blank"
                               style="display: block;width: 30px; height: 22px;">
                                <img src="https://germanzero.de/email/img/youtube.png" alt="instagram icon"
                                     style="width: 30px; height: 30px; display: block;">
                            </a>
                        </td>
                        <td>
                            <a href="https://www.instagram.com/_germanzero/" target="_blank"
                               style="display: block;width: 30px; height: 30px;">
                                <img src="https://germanzero.de/email/img/instagram.png" alt="instagram icon"
                                     style="width: 30px; height: 30px; display: block;">
                            </a>
                        </td>
                    </tr>
                </table>
            </center>

        </td>
    </tr>

</table>
<center style="max-width: 600px; width: 100%;">
    <table border="0" cellpadding="0" cellspacing="0"
           style="margin:0; padding:0; padding-top: 20px;" width="70%">
        <tr>
            <td style="text-align: center;">
                <a href="https://germanzero.de/presse" target="_blank" style="
                                            font-family: Work Sans;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 14px;
                                            line-height: 16px;
                                            text-align: center;
                                            text-decoration: none;">
                    Presse
                </a>
            </td>
            <td style="text-align: center;">
                <a href="mailto:info@germanzero.de" target="_blank" style="
                                                font-family: Work Sans;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 14px;
                                                line-height: 16px;
                                                text-align: center;
                                                text-decoration: none;">
                    Kontakt
                </a>
            </td>
            <td style="text-align: center;">
                <a href="https://germanzero.de/datenschutz" target="_blank" style="
                                                    font-family: Work Sans;
                                                    font-style: normal;
                                                    font-weight: normal;
                                                    font-size: 14px;
                                                    line-height: 16px;
                                                    text-align: center;
                                                    text-decoration: none;">
                    Datenschutz
                </a>
            </td>
            <td style="text-align: center;">
                <a href="https://germanzero.de/impressum" target="_blank" style="
                                                        font-family: Work Sans;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 14px;
                                                        line-height: 16px;
                                                        text-align: center;
                                                        text-decoration: none;">
                    Impressum
                </a>
            </td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0"
           style="margin:0; padding:0; padding-top: 20px;" width="30%">
        <tr>
            <td>
                                    <span style="font-family: Work Sans;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 16px;
                                    color: #000000;">
                                            ©  GermanZero e.V. 2019
                                    </span>
            </td>
        </tr>
    </table>
</center>
