<footer style="border-top: 1px solid #bbb;
               color: #888;
               font-size: 80%;
               padding-top: 1em;
               width: 100%;">
    GermanZero e.V., Berlin<br/>

    <p class="disclaimer">
        Wir senden diese E-Mail, weil du dich auf {{config.host}} registriert hast.
        {{#if unsubscribe}}
        Wir werden dich auch weiterhin mit Informationen versorgen, wenn du dem nicht widersprichst.
        Dazu einfach <a href="{{unsubscribe}}">hier klicken</a>.
        {{/if}}
    </p>
</footer>
